@tailwind base;
@tailwind components;
@tailwind utilities;



.pagination {
  display: flex;
  align-items: center;
  row-gap: 15px;
  flex-wrap: wrap;
  margin: 0 auto;

}

.inner_width {
  width: calc(100%) !important;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 5s linear infinite !important;
}

@media screen and (max-width:1203px) {
  .test_h {
    min-height: 50px;

  }
}

@media screen and (max-width:1024px) {
  .test_h {
    min-height: 70px;

  }
}

.mobile_content {
  display: none;

}

.advice_icon_box {
  border-radius: 50% !important;
  /* padding: 30px; */
  width: 100px;
  height: 100px;
  background-color: #2D3748;
}

.postion_st {
  position: fixed;
  right: 0px ;
  top: 50%;
  transform: translate(-50%, -50%) !important;
  transform: rotate(-0.25turn) !important;

}

.postion_st_left {
  position: fixed;
  left: 20px !important;
  top: 50%;
  transform: translate(-50%, -50%) ;

transform: rotate(90deg) !important;


}
.my_small_container{
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative !important;
}
.inner_container_right_big {
  max-width: calc(100% - 320px);
  margin-left: 310px;
  padding: 0 12px;

}

.inner_container_right_small {
  max-width: calc(100% - 90px);
  margin-left: 90px;
  padding: 0 12px;

}


.inner_container_right_big_left {
  max-width: calc(100% - 320px);
  margin-right: 300px;
  padding: 0 12px;


}

.inner_container_right_small_left {
  max-width: calc(100% - 90px);
  margin-right: 90px;
  padding: 0 12px;


}

@media screen and (max-width:768px) {
  .inner_width {
    width: 100% !important;
  }

  .desctop_content {
    display: none;
  }

  .mobile_content {
    display: block;

  }

 

  .inner_container_right_big {
    max-width: 100%;
    padding: 0 12px;
    margin-left: 0;

  }

  .inner_container_right_small {
    max-width: 100%;
    margin-left: 0;
    padding: 0 12px;


  }

  .inner_container_right_big_left {
    max-width: 100%;
    padding: 0 12px;
    margin-right: 0;

  }

  .inner_container_right_small_left {
    max-width: 100%;
    margin-right: 0;
    padding: 0 12px;


  }



}

/* switch btn css */
.switch_btn{
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
  cursor: pointer;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}
.switch_btn::before{
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 3.2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.switch_btn_active::before{
  transform: translateX(26px) !important;
}
.switch_btn_active{
  background-color: #3af321 !important;
}









/* img toggle */


ul {
  list-style-type: none;
}




.img_label {

  display: block;
  position: relative;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.img_label_border_active{
  border: 1px solid #9F7AEA !important;
}


.img_label img {
  height: 140px;

  width: 100%;
  margin: 10px 0 ;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  border: 1px solid #2D3748 ;
}

@keyframes bounce {
  0%, 100% {
      transform: translateX(-25%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
      transform: none;
      animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}
.my_animate {
  animation: bounce 1s infinite !important;
}


